@model Academia.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Fitness</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <section id="Início" class="home view">
        <div class="banner"
            src="https://s1.1zoom.me/big3/516/Men_Bodybuilding_Dumbbells_Hands_Black_and_white_582615_4608x3456.jpg">
        </div>
        <div class="highlights">
            <h3>Construa o corpo dos sonhos com</h3>
            <h1><b>Home</b> Fitness</h1><br>
            <p class="tagline">
                <strong>B</strong>em-vindo à Home Fitness! Aqui, inspiramos sua jornada de saúde e boa forma.
                Estamos empolgados para fazer parte da sua busca por um estilo de vida mais saudável!
            </p>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <br></br>
                    <li><a href="#Início">Início</a></li>
                    <li><a href="#Sobre">Sobre</a></li>
                    <li><a href="#Exercícios">Exercícios</a></li>
                    <li><a href="#Professores">Professores</a></li>
                    <li><a href="#Dieta">Dieta</a></li>
                    <li><a href="#Contato">Contato</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="Sobre" class="about view">
        <div style='font-size: 23px' class="main">
            <h2><span>S</span>obre Nós</h2>
            <h6>"Academia Home Fitness, onde o bom atendimento e o profissionalismo são os pilares da empresa.
                Oferecemos as modalidades de musculação, treinamento funcional, ritmos e avaliação física."</h>
        </div>
        <div class="content">
            <div class="cols">
                <h4>
                    <p style="text-align: justify; width: 100%;"><strong>B</strong>em-vindo à Home Fitness - o seu
                        destino
                        definitivo para saúde, boa forma e superação pessoal. Localizada no coração da cidade, nossa
                        academia é muito mais do que um espaço de exercícios; é um ambiente acolhedor e energético
                        projetado
                        para inspirar e motivar.
                        Nossa missão é clara: capacitá-lo a alcançar níveis elevados de vitalidade e bem-estar. Com uma
                        equipe de treinadores certificados e dedicados, estamos prontos para guiar você em cada etapa da
                        sua
                        jornada fitness. Seja qual for o seu objetivo - perda de peso, ganho de força, condicionamento
                        aeróbico ou simplesmente um estilo de vida mais ativo - estamos equipados com a experiência e os
                        recursos para ajudar você a alcançá-lo.</p>
                </h4>
            </div>
            <div class="cols">
                <div class="box">
                    <img src="~/imgs/Img home1.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="Exercícios" class="Exercícios view">
        <div style='font-size: 23px' class="main">
            <h2><span>E</span>xercícios</h2>
            <h4>Aqui estão alguns de incontáveis exercícios que realizamos na nossa academia</h4>
        </div>

        <div class="content" style="text-align: justify; width: 100%;">

            @foreach (var exercicio in Model.Exercicios)
            {
                <div class="frame">
                    <div class="box">
                        <img src="@exercicio.Foto" alt="@exercicio.Nome">
                    </div>
                    <div class="title">@exercicio.Nome</div>
                    <p>@exercicio.Descricao</p>
                </div>
            }
        </div>
    </section>

    <section id="Professores" class="Nossos Professores">
        <div style='font-size: 23px' class="main">
            <h1><span>P</span>rofessores</h1>
            <h5>Nossos profissionais são formados e com mais de 20 anos de experiência na área,estão dísponiveis para
                sanar quaisquer que sejam suas duvidas!</h5>
        </div>

        <div class="content">
            @foreach (var professor in Model.Professores)
            {
                <div class="frame">
                    <div class="box">
                        <img src="@professor.Foto" alt="@professor.Nome">
                    </div>
                    <div class="title">@professor.Nome</div>
                    <p>@professor.Descricao</p>
                </div>
            }

        </div>
    </section>


    <section id="Dieta" class="Dieta view">

        <div class="content">
            @foreach (var comida in Model.Comidas)
            {
                <div class="row">
                    <div class="cols a">
                        <div class="heading">@comida.Nome</div>
                        <p style="text-align: justify; width: 100%;">@comida.Descricao</p>
                    </div>
                    <div class="cols b">
                        <div class="boxes">
                            <img src="@comida.Foto" alt="@comida.Nome">
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <div style='font-size: 23px' class="main">
        <h2><span>C</span>ontato</h2>
        <br></br>
        <h4>(14) 3644-4130</h4>
        <h4> Av. Batista Périco, 1842, Igaraçu do Tietê - SP, 17350-000</h4>
        <h4> 06:00–12:00, 13:30–21:30</h4>
        <br></br>
        <section id="Contato" class="Contato view">
            <div class="content">
                <div class="imgcu"></div>
            </div>
    </div>
    </section>
    <section class="copyright">
        &copy;copyright <a href="#">Home Fitness</a> 2023 | Todos os direitos reservados
    </section>
</body>
</html>
